  /* Selects all elements */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("http://eskipaper.com/images/hd-backgrounds-13.jpg")  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

input[ type = "button" ] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

}

input[ type = "button" ]:hover{
    background-color: #dcdb27;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.textView{
    margin: 5px;
    width: 288px;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
}

.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    border-color: red;
    border: solid #757575 5px;
    background: #1d1d1d
}

  /* back ground color for green button */
.bckgrod_clr_td_green{
    background-color: #4fcc50;
}
.bckgrod_clr_td_red{
    background-color: #ce1d1d;
}

.bckgrod_clr_td_blue{
    background-color: #5454ad;
}
